<%- include('../partials/notUser/header') -%>
<style>
    #js_timer {
        text-align: center;
    }
    #timer {
        background: #fff;
        color: #000;
        width: 100px;
        margin: 50px auto;
    }
</style>
<main class="main">
    <section class="pt-20 pb-20">  
        <div class="container">
            <div class="col-lg-5">
                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                    <div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h3 class="mb-30">Login with OTP</h3>
                        </div>
                            <div id="message">
                                <p style="color: green" ></p>
                            </div>
                        </div>
                            <%
                                if(typeof message !== 'undefined' ){
                                %>
                                    <div class="alert alert-success">
                                    <p style="color: green"><%= message %></p>
                                    </div>
                            <%
                                }
                            %>
                        <form id="emailForm">
                            <div class="form-group">
                                <input type="text" required="" id="otpField" name="email" placeholder="Your Email" class="email-field" >
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-fill-out btn-block hover-up" onclick="timer()" >Send OTP</button>
                            </div>
                        </form>
                        <form id="resendOtp">
                            <div id="resend" class="login_footer form-group" style="visibility: hidden;">
                                <input type="submit" value="resend OTP?" />
                            </div>
                        </form>
                        <!-- <div class="form-group">
                            <input type="text" required="" id="otpField" name="email" placeholder="Your Email">
                        </div> -->

                        <form id="otpCheck">
                            <div id="otpForm" style="visibility: hidden;">
                                <div class="form-group">
                                    <input type="hidden" id="verifyEmail" name="email">
                                    <input required="" type="text" id="otpField" name="otp" placeholder="Enter OTP" class="otp-field">
                                </div>
                            </div>
                          
                            <div id="js_timer">
                                <div id="timer">
                                    00:59
                                </div>
                            </div>
                            
                            
                            
                            <div class="form-group">
                                <button type="submit" class="btn btn-fill-out btn-block hover-up">Log in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>


//--------------timer-----------
    function timer(){
        const button = document.querySelector('button');
        button.innerHTML = "Sending..."
        var sec = 59
        var timer = setInterval(()=>{
            document.getElementById('timer').innerHTML = '00:'+sec
            sec--
            if(sec=== -1){
                (function resend(){
                    clearInterval(timer)
                })()
            }
        },1000)
    }
 //---------Change button label---------------
 function changeLabel(){
            const button = document.querySelector('button');
            button.innerHTML = "Sending..."
        }
   

    //---------otp form visibility---------------
    function showOtp(){
        document.getElementById('otpForm').style.visibility = 'visible'
    }

    //method to show resent button after 1 minute
    function showdiv(){
        document.getElementById('resend').style.visibility = "visible"
    }

    //---------------show resent button after 1 minute-----------------
    setTimeout("showdiv()",30003)

    document.querySelector('#otpField').addEventListener("input", function(event){
        document.querySelector("#verifyEmail").value = event.target.value
    })

    
//--------------to send otp and show success/error message---

    // const resendOtp = document.getElementById('resendOtp')
    // const messageDi = document.getElementById('message')

    // emailForm.addEventListener('submit', (event) => {
    //     event.preventDefault()
    //     const email = document.getElementById('verifyEmail').value;
    //     fetch('/resend-otp', {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type' : 'application/json'
    //         },
    //         body: JSON.stringify({ email: email })
    //     })
    //     .then(response => response.text())
    //     .then(data => {
    //         console.log(data.message)
    //         document.getElementById('message').innerHTML = data
    //         document.getElementById('otpForm').style.visibility = 'visible'
    //     })
    //     .catch(error => {
    //         document.getElementById('message').textContent = `Error: ${error}`
    //     })
    // })



//--------------to re-send otp and show success/error message---
document.addEventListener('DOMContentLoaded',() => {
    const emailForm = document.getElementById('emailForm')
    const messageDiv = document.getElementById('message')

    emailForm.addEventListener('submit', (event) => {
        event.preventDefault()
        const email = document.getElementById('verifyEmail').value;
        fetch('/generate-otp', {
            method: 'POST',
            headers: {
                'Content-Type' : 'application/json'
            },
            body: JSON.stringify({ email: email })
        })
        .then(response => response.text())
        .then(data => {
            console.log(data.message)
            document.getElementById('message').innerHTML = data
            document.getElementById('otpForm').style.visibility = 'visible'
        })
        .catch(error => {
            document.getElementById('message').textContent = `Error: ${error}`
        })
    })
})


//------------Verify
const otpForm = document.getElementById('otpCheck')
const messageDiv = document.getElementById('message')

otpForm.addEventListener('submit', (event) => {
    event.preventDefault()


    //email value
    const emailField = document.querySelector('.email-field')
    const email = emailField ? emailField.value : ""
    console.log(email)

    //otp value
    const otpField = document.querySelector('.otp-field')
    const otp = otpField ? otpField.value : ""
    console.log(otp)
 
    // const formData = new FormData(otpForm)
    const data = {
        email: email,
        otp: otp
    }

    fetch('/verify-otp', {
        method: 'POST',
        headers: {
            'Content-Type' : 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => {


        // response.clone().json().catch(() => response.text())
        // .then(data => {
        //     console.log(data)
        //     window.location.href = `/userhome`
        //     // data is now parsed JSON or raw text
        // });



        const contentType = response.headers.get("content-type");
        if (contentType && contentType.indexOf("application/json") !== -1) {
            return response.json().then(data => {
            // The response was a JSON object
            // Process your data as a JavaScript object
            console.log("*****",data)
       
            window.location.href= `/userhome`

            });
        } else {
            return response.text().then(text => {
            // The response wasn't a JSON object
            // Process your text as a String
            return document.getElementById('message').innerHTML = text
            });
        }

    })
    .catch(error => {
            document.getElementById('message').textContent = `Error: ${error}`
        })

})



</script>

<%- include('../partials/notUser/footer') -%>
       